In [1]:
#hello world program
print('hello world')

hello world

In [2]:
print(5) #no quotation is needed for number.

5

In [3]:
print(''' hi     
bro''')      #It gives whatever is written inside the quotation mark.

 hi
bro

In [35]:
print('My name is Biwash timsina')

My name is Biwash timsina

# python output format

In [2]:
num=50
print(f"the number is {num/2}")

the number is 25.0

In [8]:
abc="ram"
print('my name is {}'.format(abc))

my name is ram

In [9]:
name="bimal timsina"
print("my name is %s"%(name))

my name is bimal timsina

In [10]:
num= 45
print(f"The number is  {num}")

The number is  45

In [11]:
print('{:.4f}'.format(5/4))

1.2500

In [12]:
import keyword
key=keyword.kwlist
print(key
     )

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [3]:
a,b=2,3
print(a)
del a
#print(a)

2

NameError: name 'a' is not defined

# datatype in python

In [4]:
a=1+5j
print(a)

(1+5j)

In [ ]:
type(a)

In [ ]:
a=50
b=55.5
c="bimal timsina"
print(type(a))

In [ ]:
abc="my name is bimal"
abc[0]

In [ ]:
abc[1:7]

In [ ]:
abc[-5]

In [ ]:
abc[45]

In [ ]:
abc[4.3]

In [ ]:
a='bimal'
print(len(a))

In [ ]:
a=5*"bimal"
print(a)

In [ ]:
a=4*'abc'+ "de"*4
print(a)

In [ ]:
abc='biKASH'
print(abc.lower())
print(abc.upper())

In [ ]:
print(abc.count('x')) #count () counts the charachters used.
print(abc.find('x')) #find () gives the index number of charater.

In [ ]:
a='my name is bimal timsina'
a_split=a.split()
print(a_split)
a_split.sort()
print(a_split)

In [ ]:
rev_a=reversed(a)

print(list(rev_a))

In [ ]:
a_split_rev=reversed(a_split)
print(list(a_split_rev))

In [ ]:
str1="anonymous"
rev_str1=" ".join(reversed(str1))
print(rev_str1)

# list in python

In [ ]:
list1=[1,2,3]
list2=[1,2,"anonymous"]
print(list1)
print(list1)
print(type(list2))
print(type(list1))

In [ ]:

list2[2][0] #for accessing particular character of string inside list.

In [ ]:
list2[0:3]

In [ ]:
str1=['ram','shyam']
str1.append('bimal')
print(str1)

In [ ]:
li1=[1,2,3]
li2=[4,5,6]
li1.insert(2,li2)
print(li1)

In [ ]:
li1.remove(1)
print(li1)

In [ ]:
li1.pop() #deletes the last item in the list
print(li1)

In [ ]:
lst=[1,4,3,5,2]
lst.reverse()
print(lst)
lst.sort()
print(lst)

In [ ]:
print(sum(lst))
print(max(lst))
print(min(lst))

In [ ]:
lst1=[1,2]
lst2=[3,4]
print(lst1 + lst2)

# Tuple in python

In [ ]:
tup=(1,2,3)
print(tup[2])

In [ ]:
print(tup[2])

In [ ]:
#set 
set1={1,3,5,6,4,56,43,5,3,6,3,6} #sets are enclosed inside curly braces.It remove repetable items.
print(set1)
type(set1)

In [ ]:
set[4] # indexing cant be used in set.

In [ ]:
set1.add(7)
print(set1)

In [ ]:
set1.remove(5)
print(set1)

In [ ]:
set1={1,2,3}
set2={2,3,4}
print(set1 | set2)
print(set1 & set2)
print(set1-set2)
print(set1.difference(set2))

In [ ]:
print(set1.issubset(set2))

# Dictionary

In [5]:
dict1={1:"ram",2:"hari"} # 1 is key and ram is value.
print(dict1)
print(type(dict1))
dict1[1]="krish"
print(dict1[1])

{1: 'ram', 2: 'hari'}
<class 'dict'>
krish

In [6]:
dict1.pop(2)
print(dict1)

{1: 'krish'}

# Bimal Timsina

* ma 
- dd

In [ ]:
key=dict1.keys()
print(key)

In [ ]:
value=dict1.values()
print(value)

In [ ]:
item=dict1.items()
print(item)

# Operators

In [17]:
print(5/2)

2.5

In [18]:
print(5//2) #gives integer value

2

In [19]:
a=2
b=2
print(a is b)

True

In [20]:
a=3
b='3'
print(a is b) # here a is integer but b is string.

False

In [21]:
print(a is not b)

True

In [22]:
str5="kathmandu"
print('a' in str5)
print('a' not in str5)

True
False

In [23]:
a=1
b=0
print(1/0)

ZeroDivisionError: division by zero

In [26]:
try:
    1/0
except:
        print("you cant divide")

you cant divide

In [27]:
try:
    1+ "ram"
except:
    print("you can't concatenate string with integer.")

you can't concatenate string with integer.

In [15]:
.0 + 2.0 == 3.0
print(3 or 2)

3

In [25]:
def odd(n):
    num = 1
    while num < n:
        if(num %2 != 0):
            yield num
        num += 1

In [17]:
odd(100)

In [32]:
a = list(odd(100)) + [13]

In [24]:
next(a)

3

In [34]:
list1=[1,2,3]
print(list1)

[1, 2, 3]